/**
*  LAYOUT STYLES
*
*  Define CSS classes to create a table-free,
*  3-column, 2-column, or single column layout 
*  depending on whether blocks are enabled in the 
*  left or right columns.
*/

/**
 * Layout
 */

#container {
  margin: 0 auto;
  /*padding: 0 20px;*/
  max-width: 1270px;
}

/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#main {
  float: left;
  width: 100%;
}

/* So we move the #main container over the sidebars to compensate */
body #main {
  margin-left: -180px;
}

#squeeze {
  position: relative;
  padding: 0 1em;

  background:
  url(ropes/rope_join_left.jpg) left repeat-y,
  url(ropes/rope_join_right.jpg) right repeat-y;
  padding: 1px 50px 0 50px;
}

/* And add blanks left and right for the sidebars to fill */
body #squeeze {
  margin-left: 180px;
}

/* We ensure the sidebars are still clickable using z-index */
.sidebar {
  width: 180px;
  float: left;
  z-index: 2;
  position: relative;
}

#footer {
  float: none;
  clear: both;
  margin: 4em 0 -3em;
}

/* Note that instead of modifying this style sheet, you can instead edit
 * local.css and use it to override or change settings in this one.
 */

/* html5 compat */
article,
header,
footer,
nav {
    display: block;
}

.site-footer {
    clear: both;
}

.img caption {
    font-size: 80%;
    caption-side: bottom;
    text-align: center;
}

img.img {
    margin: 0.5ex;
}

.align-left {
    float:left;
}

.align-right {
    float:right;
}

img {
    border-style: none;
}

pre {
    overflow: auto;
}

.pagedate,
.pagelicense,
.pagecopyright {
    font-style: italic;
    display: block;
    margin-top: 1em;
}

.block .content {
  margin: 0.5em 0;
  display: block;
}

.block .title .show {
  display: none;
}

#container .sidebar .block {
  margin: 0 0 1.5em 0;
}

.block {
  padding: 0 15px 0 0px;
}

.menu {
  padding-left: 10px;
}

.menu li {
  list-style: None;
}

body {
  font: 13px sans-serif;
  background: #000;
  color: #999;
  line-height:1.5em;
  margin: 0;
  padding: 0;
}

table thead tr th {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
table tbody tr:last-child td {
    border-bottom: 1px solid #FFFFFF;
}
table.keyvalue tbody tr td {
    border: none;
}

th, td {
  padding: 1em 2em;
  background: #222;
}


#container {
  margin:0px 10px 10px 10px;
}

a, a:link, a:visited {
  color: #89A3E4;
  text-decoration: none;
}

a:hover, a:focus {
  color: #80A0FF;
  text-decoration: underline;
}

a:active, a.active, li a.active {
  color: #0000FF;
}

.post-header h1 {
  color: #FFF;
}

.post h2, #main-top, #main-bottom, .postexcerpt {
  background: url(ropes/rope_seperator_left.jpg) top left no-repeat,
  url(ropes/rope_seperator_right.jpg) top right no-repeat,
  url(ropes/rod_middle.jpg) top repeat-x;
  padding: 30px 50px 0.5em 50px;
  margin: 0px -50px 0 -50px;
}

#main-top, #main-bottom {
  padding-bottom: 0;
}

pre, blockquote {
  background: #333;
  border: 1px solid #ccc;
  margin: 1em 2em;
  padding: 0 5px;
}

pre {
  font-family: monospace;
}

blockquote {
  font-style: italic;
}

code {
  font-family: monospace;
}

img {
  max-width: 100%;
}

.photo {
  width: 100%;
  max-width: 480px;
}

.pagedate,
.pagelicense,
.pagecopyright,
#backlinks {
    margin-top: 0;
}

/* Header styles */

.site-header {
  margin: 10px 20px 15px 20px;
}

#site-name {
  margin: 0;
  display: inline;
  font-family: "Trebuchet MS", Arial, Verdana, Sans-serif;
  font-weight: normal;
  font-size: 250%;
  color: #FFF;
}

#site-name a, #site-name a:hover {
  color: #6DA6E2;
  margin: 0;
  padding: 0;
}

#site-slogan {
  color: #aaa;
  margin: 0;
  font-size: 85%;
  margin-left:20px;
}

.breadcrumb {
  margin:0;
  padding:0;
  font-size: 85%;
}

/* Headings */

.sidebar h2 {
  font-size: 122%;
  color: #FFF;
  margin: 0.5em 0;
}

.post-content h1 {
  display: none;
}

#main-disabled h1 {
  color: #FFF;
  margin: 0.5em 0;
  line-height: normal;
}

/* Footer styles */
#footer-wrapper {
  margin:0;
  margin-top: 15px;
}

#footer {
  background-color: #333;
  border: solid 1px #004969;
  color:#FFFFFF;
  text-align: center;
  margin:0;
  font-size: 85%;
  padding: 1em;
}

#footer a {
  color: #fff;
  font-weight:bold;
  border-bottom: 1px dotted #FFFFFF;
}

#footer a:hover {
  border-bottom: 1px solid #FFFFFF;
}

.block {
  background: #333;
  border: solid #ddd 1px;
  padding-left:10px;
  margin-top:20px;
}

/* things to hide in printouts */
@media print {
}

@media screen and (max-width: 700px) {
#main {
  width: auto;
  float: none;
}
.sidebar {
  float: none;
  width: auto;
  margin: 0 50px;
}
body #main {
  margin-left: 0;
  margin: 0;
}
/* And add blanks left and right for the sidebars to fill */
pre, blockquote {
  margin-left: 0;
  margin-right: 0;
}
.block {
  padding-bottom: 0;
}
.block .title .show {
  display: inline;
}
.block .content {
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}
.block .menu {
  padding: 0;
  margin: 0;
}
.block .title, .block .menu li {
  border-top: 1px solid #777;
  padding: 20px 0;
  margin: 0;
}
.block .title {
  border: none;
}
.block .title:active, .block .menu li:active {
  border: 1px solid #FFF;
}
}

@media screen and (max-width: 500px) {
#squeeze {
  background: None;
  padding-left: 0;
  padding-right: 0;
}
.post h2, #main-top, #main-bottom, .post, .postexcerpt {
  background: url(ropes/rod_left.jpg) top left no-repeat,
  url(ropes/rod_right.jpg) top right no-repeat,
  url(ropes/rod_middle.jpg) top repeat-x;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.sidebar {
  margin: 0;
}
}

.tweet {
    margin-bottom: 15px;
}
.tweet img {
  display: block;
}
.tweet .avatar {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
  width: 48px;
}
.tweet_text {
  display: inline-block;
  width: 90%;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
