---
layout: page
---
<table class="keyvalue">
    <tbody>
        <tr>
            <th>Conference</th>
            <td>
            {% if page.website %}
                <a href="{{ page.website }}">{{ page.name }}</a>
            {% else %}
                {{ page.name }}
            {% endif %}
            </td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                {{ page.location }}
            </td>
        </tr>
        <tr>
            <th>Dates</th>
            <td>
                {{ page.begin }} to {{ page.end }}
            </td>
        </tr>
    </tbody>
</table>

{% for talk in site.talks %}
    {% if talk.conference == page.url %}
        {% assign has_talks = true %}
    {% endif %}
{% endfor %}

{% if has_talks %}
    List of talks:

    <ul>
        {% assign talks = site.talks | sort: "begin" | group_by_exp: "talk", "talk.begin | date: '%-d %B %Y'" %}
        {% for group in talks %}
            {% assign group_has_talks = false %}
            {% for talk in group.items %}
                {% if talk.conference == page.url %}
                    {% assign group_has_talks = true %}
                {% endif %}
            {% endfor %}
            {% if group_has_talks %}
                <li>{{ group.name }}</li>
                <ul>
                    {% assign group_talks = group.items %}
                    {% for talk in group_talks %}
                        {% if talk.conference == page.url %}
                            <li><a href='{{ site.baseurl }}{{ talk.url }}'>{{ talk.title }}</a> by {{ talk.speaker }}.</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

{{ content }}
