<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    {% include head.html %}

    <body>
        {% include header.html %}

        <article class="page">

            <div id="container">

                <div id="main" class="column"><div id="squeeze">
                    <div id="main-top"></div>

                    {{ content }}

                    <div id="main-bottom"></div>

                    {% if paginator %}
                    <!-- Pagination links -->
                    <div class="pagination">
                        {% if paginator.previous_page %}
                        <a href="{{ site.baseurl}}{{ paginator.previous_page_path }}" class="previous">Previous</a>
                        {% else %}
                        <span class="previous">Previous</span>
                        {% endif %}
                        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                        {% if paginator.next_page %}
                        <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">Next</a>
                        {% else %}
                        <span class="next ">Next</span>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if page.photo_album.size > 0 %}
                    <a href="https://photos.linuxpenguins.xyz/album/{{page.photo_album}}/">Photos</a>
                    {% endif %}

                    {% if page.categories.size > 0 %}
                    <nav class="categories">
                        {% if page.categories.size > 1 %}Categories{% else %}Category{% endif %}:
                        {% for category in page.categories %}
                        {{ category }}
                        {% endfor %}
                    </nav>
                    {% endif %}

                    {% if page.tags.size > 0 %}
                    <nav class="tags">
                        Tag{% if page.tags.size > 1 %}s{% endif %}:
                        {% for tag in page.tags %}
                        <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
                        {% endfor %}
                    </nav>
                    {% endif %}

                    <div class="pagecopyright">
                        (C)opyright <a href="mailto:brian@linuxpenguins.xyz">Brian May</a>
                        {{ site.env.VCS_REF }}
                        {{ site.env.BUILD_DATE }}
                    </div>

                    {% if page.date %}
                    <div class="pagedate">
                        Posted: {{ page.date | date_to_rfc822 }}
                    </div>
                    {% endif %}


                </div></div> <!-- /squeeze /main -->

            </div> <!-- /container -->

        </article>

        {% include footer.html %}
    </body>
</html>
