---
layout: page
---
<table class="keyvalue">
    <tbody>
        <tr>
            <th>Project</th>
            <td>
                <a href='{{ page.website }}'>{{ page.title }}</a>
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ page.description }}</td>
        </tr>
        <tr>
            <th>Language</th>
            <td>{{ page.language }}</td>
        </tr>
        <tr>
            <th>Framework</th>
            <td>{{ page.framework }}</td>
        </tr>
        <tr>
            <th>Features</th>
            <td>{{ page.features }}</td>
        </tr>
    </tbody>
</table>
{{ content }}
