---
layout: page
---
<table class="keyvalue">
    <tbody>
        <tr>
            <th>Speaker</th>
            <td>
                {{ page.speaker }}
            </td>
        </tr>
        <tr>
            <th>Time</th>
            <td>
                {{ page.begin }}
            </td>
        </tr>
        <tr>
            <th>Conference</th>
            <td>
                <a href="{{ site.baseurl }}{{ page.conference }}">
                    {% for conference in site.categories.conferences %}
                        {% if page.conference == conference.url %}
                          {{ conference.name }}
                        {% endif %}
                    {% endfor %}
                </a>
            </td>
        </tr>
        {% if page.talk_url %}
        <tr>
            <th>Talk details</th>
            <td>
                <a href="{{ page.talk_url }}">Link</a>
            </td>
        </tr>
        {% endif %}
        {% if page.video_url %}
        <tr>
            <th>Video</th>
            <td>
                <a href="{{ page.video_url }}">Link</a>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>

{{ content }}
