---
layout: page
title: Speaker
description: I have made a number of talks at Conferences and local user group meetings.
---
I have made a number of talks at Conferences and local user group meetings.

This is a list of some of my recent talks:

<ul>
{% for talk in site.talks %}
    {% if talk.speaker == "Brian May" %}
    <li>
        <a href='{{ site.baseurl }}{{ talk.url }}'>{{ talk.title }}</a> at
        <a href="{{ site.baseurl }}{{ talk.conference }}">
            {% for conference in site.categories.conferences %}
                {% if talk.conference == conference.url %}
                  {{ conference.name }}
                {% endif %}
            {% endfor %}
        </a>
    </li>
    {% endif %}
{% endfor %}
</ul>
