{% extends "base.html" %} {% block content %}
<h1 class="title">{{ page.title }}</h1>

Skill: {{ page.extra.description }}

{{ page.content | safe }}


{% if page.extra.list_trip_transport is defined %}
{% set data = get_section(path="posts/_index.md") -%}
<table class="list">
  <thead>
    <tr>
      <th>Destination</th>
      <th>Transport</th>
      <th>Begin</th>
      <th>End</th>
      <th>Purpose</th>
    </tr>
  </thead>
  <tbody>
    {% for trip in data.pages %} {% if trip.extra.type is defined and
    trip.extra.type == "trip" and trip.extra.transport == page.extra.list_trip_transport %}
    <tr>
      <td>
        <a href="{{ trip.permalink }}">{{ trip.extra.destination }}</a>
      </td>
      <td>{{trip.extra.transport}}</td>
      <td>{{trip.extra.begin}}</td>
      <td>{{trip.extra.end}}</td>
      <td>{{trip.extra.purpose}}</td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endif %}

{% if page.extra.list_talk_speaker is defined %}
{% set data = get_section(path="talks/_index.md") -%}
<ul>
    {% for talk in data.pages %}
    {% if talk.extra.speaker == page.extra.list_talk_speaker %}
    <li>
        {% set conference = get_page(path="posts/" ~ talk.extra.conference ~ '.md') %}
        <a href="{{ talk.permalink }}">{{ talk.title }}</a>:
        {{ conference.title }}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}
