{% extends "base.html" %} {% block content %} {% set data = get_section(path="posts/_index.md") -%}
<h1>{{ page.title }}</h1>
{{ page.content | safe }}
<table class="list">
  <thead>
    <tr>
      <th>Destination</th>
      <th>Transport</th>
      <th>Begin</th>
    </tr>
  </thead>
  <tbody>
    {% for trip in data.pages %} {% if trip.extra.type is defined and
    trip.extra.type == "trip" %}
    <tr>
      <td>
        <a href="{{ trip.permalink }}">{{ trip.extra.destination }}</a>
      </td>
      <td>{{trip.extra.transport}}</td>
      <td>{{trip.extra.begin}}</td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endblock content %}
