---
layout: page
---
<ul>
    <table class="keyvalue">
        <tbody>
            <tr>
                <th>Conference</th>
                <td>
                {% if page.website %}
                    <a href="{{ page.website }}">{{ page.name }}</a>
                {% else %}
                    {{ page.name }}
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Location</th>
                <td>
                    {{ page.location }}
                </td>
            </tr>
            <tr>
                <th>Dates</th>
                <td>
                    {{ page.begin }} to {{ page.end }}
                </td>
            </tr>
        </tbody>
    </table>
</ul>

List of talks:

<ul>
{% for talk in site.talks %}
    {% if talk.meeting == page.url %}
    <li><a href='{{ site.baseurl }}{{ talk.url }}'>{{ talk.title }}</a> by {{ talk.speaker }}.</li>
    {% endif %}
{% endfor %}
</ul>

{{ content }}
