---
layout: page
---
<ul>
    <table class="keyvalue">
        <tbody>
            <tr>
                <th>Conference</th>
                <td>
                {% if page.website %}
                    <a href="{{ page.website }}">{{ page.name }}</a>
                {% else %}
                    {{ page.name }}
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Location</th>
                <td>
                    {{ page.location }}
                </td>
            </tr>
            <tr>
                <th>Dates</th>
                <td>
                    {{ page.begin }} to {{ page.end }}
                </td>
            </tr>
        </tbody>
    </table>
</ul>

{{ content }}
