---
layout: page
---
<table class="keyvalue">
    <tbody>
        <tr>
            <th>Relationship</th>
            <td>
                {{ page.relationship }}
            </td>
        </tr>
        <tr>
            <th>Born</th>
            <td>
                {{ page.born }}, {{ page.born_place }}
            </td>
        </tr>
        {% if page.died %}
        <tr>
            <th>Died</th>
            <td>
                {{ page.died }}, {{ page.died_place }}
            </td>
        </tr>
        {% endif %}
        {% if page.photos %}
        <tr>
            <th>Photos</th>
            <td>
                <a href="https://photos.microcomaustralia.com.au/persons/{{page.photos}}/">Photos</a>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{{ content }}
